* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#LoadingScreen {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

#LoadingScreen .load {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 30px;
    margin-right: 15px;
    animation: rotate ease 1.5s infinite;
    transform: rotate(0deg);
    color: #fff;
}

@keyframes rotate {

    0% {
        transform: rotate(0deg);
        margin-right: 15px;
    }

    100% {
        transform: rotate(360deg);
    }
}


#LoadingScreen .load h3 {
    font-size: 30px;
    animation: big ease 0.75s infinite;
    animation-direction: alternate;
    animation-delay: 0.5s;
}

@keyframes big {

    0% {
        font-size: 45px;
    }

    100% {
        font-size: 30px;
    }
}


.loader {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
}

.loader .loader-text {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.loader-line .line {
    width: 15px;
    height: 5px;
    color: #fff;
    background: #f7f7f7;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: lineanim linear 2s infinite alternate;
}

@keyframes lineanim {
    0% {
        width: 15px;
        left: 0;
    }

    50% {
        width: 500px;
    }

    100% {
        width: 15px;
        left: 100%;
        transform: translateX(-100%);
    }
}

/* copyright 2021 by MAHIN */